.title-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: calc(100% - 40px);
    padding: 80px 124px 64px 124px;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.main-title {
    display: block;
    max-width: calc(100vw - 500px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 48px;
    font-style: normal;
    line-height: 56px;
    letter-spacing: 0px;
    color: #1B2733;
    margin: 0px;
}

h3 {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0px;
    color: #637282;
    margin: 0px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pr-pl-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.cost-analysis-AI-container {
    background-color: gray;
    height: 100vh;
}

.income-statement-container {
    display: flex;
    flex-direction: column;
    padding: 80px 124px 64px 124px;
}

.subtitle {
    display: block;
    max-width: calc(100vw - 500px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 40px;
    font-style: normal;
    line-height: 48px;
    letter-spacing: 0px;
    color: #1B2733;
    margin: 0px;
}

.income-statement-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: #f9f9fc;
    padding: 24px;
    border-radius: 10px;
}

#income-statement-overlay-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-style: normal;
    line-height: 32px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #637282;
    border-radius: 30px;
    padding: 16px 20px;
    height: fit-content;
    width: fit-content;
}

#income-statement-overlay-button:hover {
    background-color: #637282b9;
}

.income-statement-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    z-index: 999;
    transition: opacity .3s;
    opacity: 1;
}

.hidden-income-statement-overlay {
    opacity: 0;
    pointer-events: none;
}

.income-statement-table-container {
    height: 200px;
    width: 400px;
    background-color: #f9f9fc;
}