* {
    font-family: pretendard, sans-serif;
}


::-webkit-scrollbar-thumb {
    background-color: #BDC4C9;
    border-radius: 6px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.menu-container {
    background-color: #F7F9FA;
    display: flex;
    flex-direction: column;
    padding: 0 124px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 16px;
    position: relative;
}

.header-options-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
}

#logo {
    height: 36px;
}

#profile-picture {
    border: 2px solid #E6E8EB;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #BDC4C9;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-options-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-option {
    cursor: pointer;
    padding: 20px 16px;
    /* user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; */
    color: #707072;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0px;
    white-space: nowrap;
}

.navbar-option:first-child {
    padding-left: 0px;
}

.navbar-option:last-child {
    padding-right: 0px;
}

.option-active {
    color: #0070E0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: pretendard, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.navbar-submenu-wrapper {
    width: 100%;
    position: relative;
}

#navbar-submenu-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar-submenu-option {
    text-align: center;
    min-width: 168px;
    color: #637282;
    clip-path: inset(0 4px);
    border-bottom: 2px solid transparent;
    padding: 10px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    /* user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; */
}

.navbar-submenu-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #637282;
}

.navbar-submenu-option-active {
    border-bottom: 2px solid #0070E0;
}

.navbar-submenu-option-active>.navbar-submenu-label {
    color: #0070E0;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.navbar-submenu-option-active>.navbar-submenu-icon {
    color: #0070E0;
}